@using Holiday_TravelSite.Models.Entities
@model List<Contact>
@{
    ViewBag.Title = "ContactList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <h2 class="m-3">Contacts</h2>

    <table class="table table-bordered">
        <tr>
            <th>Contact No</th>
            <th>Name Surname</th>
            <th>Mail</th>
            <th>Subject</th>
            <th>Message</th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            count++;
            <tr>
                <td>@count</td>
                <td>@item.NameSurname</td>
                <td>@item.Mail</td>
                <td>@item.Subject</td>
                <td>@item.Message</td>
                <td><a href="/Admin/DeleteContact/@item.ContactId" class="btn btn-danger">Delete</a></td>
            </tr>
        }
    </table>
