@using Holiday_TravelSite.Models.Entities
@model Blog
@{
    ViewBag.Title = "CreateBlog";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<h2>Create Blog</h2>
<br />
<form method="post">
    @Html.LabelFor(x => x.Title)
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Date)
    @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.ImageUrl)
    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Description)
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Create</button>
</form>

